# Ignore the instantiated copy of the bootstrap files
config.php
controlpanel/providers.php

# Ignore favicon if it exists
public_html/favicon.ico

# Ignore any contents of the style folder, except its header and footer template
public_html/style/*
!public_html/style/header.html.template
!public_html/style/footer.html.template

# Ignore any contents of the additional votes folder, except its .gitignore file
bob/additionalvotescsv/*
!bob/additionalvotescsv/.gitignore

# Ignore any ingest log file and lock file
ingest/bobguiIngestLog.txt
ingest/lock/*
!ingest/lock/.gitignore

# Ignore any .htaccess file for the control panel
public_html/controlpanel/.htaccess

