# Ignore the instantiated copy of the bootstrap files
bob/index.php
listing/index.php
ingest/index.php
controlpanel/index.php
controlpanel/providers.php

# Ignore favicon if it exists
favicon.ico

# Ignore any contents of the style folder, except its .gitignore file
style/*
!style/header.html.template
!style/footer.html.template

# Ignore any ingest log file and lock file
ingest/bobguiIngestLog.txt
ingest/lock/*
!ingest/lock/.gitignore
