<?php

# Stub launching file for the listing side of the BOB GUI

# Settings
$config['username'] = 'bobguiListing';
$config['password'] = 'your_password_goes_here';
$config['administratorEmail'] = 'webmaster@example.com';
$config['mailDomain'] = 'example.com';

# Load and run the BOB GUI with the specified settings
require_once ('./listing/bobguiListing.php');
new bobguiListing ($config);

?>
